<!DOCTYPE html>
<html>
    <head>
        <!-- Meta Informationen -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <title>ScanPark</title>

        <!-- Favicon-->
        <link rel="icon" href="favicon.ico" type="image/x-icon">

        <!-- Bootstrap Core Css -->
        <link href="~/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

        <!-- Animation Css -->
        <link href="~/plugins/animate-css/animate.css" rel="stylesheet" />

        <!-- Theme -->
        <link href="~/css/themes/all-themes.css" rel="stylesheet" />
        <!-- <link href="~/css/themes/theme.css" rel="stylesheet" /> -->

        <!-- jQuery DataTable -->
        <link href="~/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet" />

        <!-- Custom Css -->
        <link href="~/css/style.css" rel="stylesheet">

        <!-- Jquery Core Js -->
        <script src="~/plugins/jquery/jquery.min.js"></script>
    </head>

    <body class="theme-blue-grey">
        <!-- Page Loader -->
        <div class="page-loader-wrapper">
            <div class="loader">
                <div class="preloader">
                    <div class="spinner-layer pl-blue-grey">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
                <p>Bitte warten ...</p>
            </div>
        </div>

        <!-- Overlay For Sidebars -->
        <div class="overlay"></div>

        <!-- Search Bar -->
        <div class="search-bar">
            <div class="search-icon">
                <i class="material-icons">search</i>
            </div>
            <input type="text" placeholder="Suche ...">
            <div class="close-search">
                <i class="material-icons">close</i>
            </div>
        </div>

        <!-- Top Bar -->
        <nav class="navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                    <a href="javascript:void(0);" class="bars"></a>
                    <a class="navbar-brand " href="index.html"></a>
                    <img class="brand-logo" src="~/images/ScanParkLogoWhite.png" />
                </div>
            </div>
        </nav>

        <!-- Sidebars -->
        <section>

            <!-- Left Sidebar -->
            <aside id="leftsidebar" class="sidebar">

                <!-- User Info -->
                <div class="user-info">
                    <div class="image">
                        <img src="~/images/user.png" width="48" height="48" alt="User" />
                    </div>
                    <div class="info-container">
                        <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Arthur Böhm</div>
                        <div class="email">boehm.arthur@web.de</div>
                        <div class="btn-group user-helper-dropdown">
                            <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="javascript:void(0);"><i class="material-icons">person</i>Profil</a></li>
                                <li><a href="javascript:void(0);"><i class="material-icons">mode_edit</i>Profil bearbeiten</a></li>
                                <li role="seperator" class="divider"></li>
                                <li><a href="javascript:void(0);"><i class="material-icons">input</i>Abmelden</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- #User Info -->

                <!-- Menu -->
                <div class="menu">
                    <ul class="list">
                        <li class="header">Hauptmenü</li>
                        <li id="bills" class="active">
                            <a href="~/User/Bills">
                                <i class="material-icons">euro_symbol</i>
                                <span>Rechnungen</span>
                            </a>
                        </li>
                        <li id="cars">
                            <a href="~/User/Cars">
                                <i class="material-icons">directions_car</i>
                                <span>Fahrzeuge</span>
                            </a>
                        </li>
                        <li id="locations">
                            <a href="pages/maps/google.html">
                                <i class="material-icons">location_on</i>
                                <span>ScanPark Standorte</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- #Menu -->

                <!-- Footer -->
                <div class="legal">
                    <div class="copyright">
                        &copy; 2017
                        <a href="javascript:void(0);">ScanPark</a>.
                    </div>
                </div>
                <!-- #Footer -->

            </aside>
            <!-- #END# Left Sidebar -->

            <!-- Right Sidebar -->
            <aside id="rightsidebar" class="right-sidebar">
                <ul class="nav nav-tabs tab-nav-right" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#skins" data-toggle="tab">SKINS</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active in active" id="skins">
                        <ul class="demo-choose-skin">
                            <li data-theme="red" class="active">
                                <div class="red"></div>
                                <span>Red</span>
                            </li>
                            <li data-theme="pink">
                                <div class="pink"></div>
                                <span>Pink</span>
                            </li>
                            <li data-theme="purple">
                                <div class="purple"></div>
                                <span>Purple</span>
                            </li>
                            <li data-theme="deep-purple">
                                <div class="deep-purple"></div>
                                <span>Deep Purple</span>
                            </li>
                            <li data-theme="indigo">
                                <div class="indigo"></div>
                                <span>Indigo</span>
                            </li>
                            <li data-theme="blue">
                                <div class="blue"></div>
                                <span>Blue</span>
                            </li>
                            <li data-theme="light-blue">
                                <div class="light-blue"></div>
                                <span>Light Blue</span>
                            </li>
                            <li data-theme="cyan">
                                <div class="cyan"></div>
                                <span>Cyan</span>
                            </li>
                            <li data-theme="teal">
                                <div class="teal"></div>
                                <span>Teal</span>
                            </li>
                            <li data-theme="green">
                                <div class="green"></div>
                                <span>Green</span>
                            </li>
                            <li data-theme="light-green">
                                <div class="light-green"></div>
                                <span>Light Green</span>
                            </li>
                            <li data-theme="lime">
                                <div class="lime"></div>
                                <span>Lime</span>
                            </li>
                            <li data-theme="yellow">
                                <div class="yellow"></div>
                                <span>Yellow</span>
                            </li>
                            <li data-theme="amber">
                                <div class="amber"></div>
                                <span>Amber</span>
                            </li>
                            <li data-theme="orange">
                                <div class="orange"></div>
                                <span>Orange</span>
                            </li>
                            <li data-theme="deep-orange">
                                <div class="deep-orange"></div>
                                <span>Deep Orange</span>
                            </li>
                            <li data-theme="brown">
                                <div class="brown"></div>
                                <span>Brown</span>
                            </li>
                            <li data-theme="grey">
                                <div class="grey"></div>
                                <span>Grey</span>
                            </li>
                            <li data-theme="blue-grey">
                                <div class="blue-grey"></div>
                                <span>Blue Grey</span>
                            </li>
                            <li data-theme="black">
                                <div class="black"></div>
                                <span>Black</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>
            <!-- #END# Right Sidebar -->
        </section>

        <!-- Main Content -->
        <section class="content">
            <div class="container-fluid">
                <div class="block-header">
                    <h2>ÜBERSICHT</h2>
                    @RenderBody()
                </div>
            </div>
        </section>

        <!-- Bootstrap Core Js -->
        <script src="~/plugins/bootstrap/js/bootstrap.js"></script>

        <!-- Select Plugin Js -->
        <script src="~/plugins/bootstrap-select/js/bootstrap-select.js"></script>

        <!-- Slimscroll Plugin Js -->
        <script src="~/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

        <!-- Jquery CountTo Plugin Js -->
        <script src="~/plugins/jquery-countto/jquery.countTo.js"></script>

        <!-- Custom Js -->
        <script src="~/js/admin.js"></script>
        <script src="~/js/pages/index.js"></script>

        <!-- Demo Js -->
        <script src="~/js/demo.js"></script>
    </body>
</html>
