@model GuestViewModel


@using (Html.BeginForm("Guest", "Account", FormMethod.Post, new { @class = "card-body" }))
{
    <div class="input-group">
        <span class="input-group-addon">
            <i class="material-icons">directions_car</i>
        </span>
        <div class="form-group is-empty">
            <input type="text" asp-for="LicensePlate" class="form-control" placeholder="Kennzeichen">
            <span asp-validation-for="LicensePlate" class="material-input text-danger"></span>
        </div>
    </div>
    <div class="input-group">
        <span class="input-group-addon">
            <i class="material-icons">receipt</i>
        </span>
        <div class="form-group is-empty">
            <input type="text" asp-for="OneTimePaymentCode" class="form-control" placeholder="One-Time Payment Code (Einmalzahlung)">
            <span asp-validation-for="OneTimePaymentCode" class="material-inputtext-danger"></span>
        </div>
    </div>
    <div class="input-group" style="height: 77px">

    </div>
    <div class="card-body text-center">
        <button type="submit" class="btn btn-primary btn-lg" style="width: 165px">Anmelden</button>
    </div>
    <div asp-validation-summary="All"></div>
}