@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <title>Sign In | Bootstrap Based Admin Template - Material Design</title>
        <!-- Favicon-->
        <link rel="icon" href="../../favicon.ico" type="image/x-icon">

        <!-- Bootstrap Core Css -->
        <link href="~/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

        <!-- Animation Css -->
        <link href="~/plugins/animate-css/animate.css" rel="stylesheet" />

        <!-- Custom Css -->
        <link href="~/css/style.css" rel="stylesheet">

        <!-- Theme -->
        <link href="~/css/themes/theme-blue-grey.css" rel="stylesheet" />

        <!-- Jquery Core Js -->
        <script src="~/plugins/jquery/jquery.min.js"></script>
    </head>
    <body class="login-page">

        <div class="login-box">
            <div class="logo msg">
                <img class="brand-logo" src="~/images/ScanParkLogoBlack.png" />
            </div>
            <div class="row clearfix">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <form id="sign_in_user" method="POST">
                                <div class="msg">Melden Sie sich an mit Ihrem Account an ...</div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">person</i>
                                    </span>
                                    <div class="form-line">
                                        <input type="text" class="form-control" name="username" placeholder="E-Mail Adresse" autofocus required>
                                    </div>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">lock</i>
                                    </span>
                                    <div class="form-line">
                                        <input type="password" class="form-control" name="password" placeholder="Kennwort" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-8 p-t-5">
                                        <input type="checkbox" name="rememberme" id="rememberme" class="filled-in chk-col-blue-grey">
                                        <label for="rememberme">Anmeldedaten speichern</label>
                                    </div>
                                    <div class="col-xs-4">
                                        <button class="btn btn-block bg-blue-grey waves-effect" type="submit">Anmelden</button>
                                    </div>
                                </div>
                                <div class="row m-t-15 m-b--20">
                                    <div class="col-xs-offset-6 col-xs-6 align-right">
                                        <a href="forgot-password.html">Kennwort vergessen?</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="header">
                            <form id="sign_in_guest" method="POST">
                                <div class="msg">... oder als Gast</div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">person</i>
                                    </span>
                                    <div class="form-line">
                                        <input type="text" class="form-control" name="licenseplate" placeholder="Nummernschild (X?? X? X???)" pattern="^[A-Z]{1,3} [A-Z]{1,2} [0-9]{1,4}$" required>
                                    </div>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">lock</i>
                                    </span>
                                    <div class="form-line">
                                        <input type="text" class="form-control" name="guestpaymentcode" placeholder="Einmal-Zahlungs-Code" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4 col-xs-offset-8">
                                        <button class="btn btn-block bg-blue-grey waves-effect" type="submit">Anmelden</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>                
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="body">
                            <form id="sign_up" method="POST">
                                <div class="msg">Registrieren Sie ein neues Konto</div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">person</i>
                                    </span>
                                    <div class="form-line">
                                        <input type="text" class="form-control" name="namesurname" placeholder="Nachname, Vorname" required autofocus>
                                    </div>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">email</i>
                                    </span>
                                    <div class="form-line">
                                        <input type="email" class="form-control" name="email" placeholder="E-Mail Adreses" required>
                                    </div>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">lock</i>
                                    </span>
                                    <div class="form-line">
                                        <input type="password" class="form-control" name="password" minlength="6" placeholder="Kennwort" required>
                                    </div>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">lock</i>
                                    </span>
                                    <div class="form-line">
                                        <input type="password" class="form-control" name="confirm" minlength="6" placeholder="Kennwort (wiederholen)" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" name="terms" id="terms" class="filled-in chk-col-blue-grey">
                                    <label for="terms">Ich habe die <a href="javascript:void(0);">AGBs</a> gelesen und verstanden.</label>
                                </div>

                                <button class="btn btn-block btn-lg bg-blue-grey waves-effect" type="submit">Jetzt registrieren</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap Core Js -->
        <script src="~/plugins/bootstrap/js/bootstrap.js"></script>

        <!-- Validation Plugin Js -->
        <script src="~/plugins/jquery-validation/jquery.validate.js"></script>

        <!-- Custom Js -->
        <script src="~/js/admin.js"></script>
        <script src="~/js/pages/sign-in.js"></script>
    </body>

</html>