@model Server.Models.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <title>Sign In | Bootstrap Based Admin Template - Material Design</title>
        <!-- Favicon-->
        <link rel="icon" href="../../favicon.ico" type="image/x-icon">

        <!-- Bootstrap Core Css -->
        <link href="~/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

        <!-- Animation Css -->
        <link href="~/plugins/animate-css/animate.css" rel="stylesheet" />

        <!-- Custom Css -->
        <link href="~/css/style.css" rel="stylesheet">

        <!-- Theme -->
        <link href="~/css/themes/theme-blue-grey.css" rel="stylesheet" />

        <!-- Jquery Core Js -->
        <script src="~/plugins/jquery/jquery.min.js"></script>
    </head>
    <body class="login-page">
        <div class="login-box">
            <div class="logo msg">
                <img class="brand-logo" src="~/images/ScanParkLogoBlack.png" />
            </div>
            <!-- Benutzer- und Gast-Anmeldung bzw. Registrierung -->
            <div class="card">
                <!-- Benutzer Anmeldung -->
                <div class="header">
                    <form asp-controller="Account" asp-action="Login" method="post">
                        <div class="msg"><h4>Sie sich an mit Ihrem Account an</h4></div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">person</i>
                            </span>
                            <div class="form-line">
                                <input type="text" class="form-control" asp-for="UserName" placeholder="E-Mail Adresse" autofocus required>
                            </div>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">lock</i>
                            </span>
                            <div class="form-line">
                                <input type="password" class="form-control" asp-for="Password" placeholder="Kennwort" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-8 p-t-5">
                                <input type="checkbox" asp-for="RememberMe" class="filled-in chk-col-blue-grey">
                                <label for="rememberme">Anmeldedaten speichern</label>
                            </div>
                            <div class="col-xs-4">
                                <button class="btn btn-block bg-blue-grey waves-effect" type="submit">Anmelden</button>
                            </div>
                        </div>
                        <div class="row m-t-15 m-b--20">
                            <div class="col-xs-offset-6 col-xs-6 align-right">
                                <a href="forgot-password.html">Kennwort vergessen?</a>
                            </div>
                        </div>
                        <div asp-validation-summary="All"></div>
                    </form>
                </div>

                <!-- Registrierung -->
                <div class="header">
                    <form id="signin" method="POST">
                        <div class="msg"><h4>Kein Konto vorhanden?</h4></div>
                        <div class="row">
                            <div class="col-xs-8 col-xs-offset-2">
                                <a class="btn btn-block bg-blue-grey waves-effect">Jetzt registrieren</a>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- Gast-Anmeldung -->
                <div class="header">
                    <form id="guest" method="POST">
                        <div class="msg"><h4>Sie möchten kein Konto anlegen?</h4></div>
                        <div class="row">
                            <div class="col-xs-8 col-xs-offset-2">
                                <a class="btn btn-block bg-blue-grey waves-effect" asp-controller="Account" asp-action="Guest">Als Gast anmelden</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Bootstrap Core Js -->
        <script src="~/plugins/bootstrap/js/bootstrap.js"></script>

        <!-- Validation Plugin Js -->
        <script src="~/plugins/jquery-validation/jquery.validate.js"></script>

        <!-- Custom Js -->
        <script src="~/js/admin.js"></script>
        <script src="~/js/pages/sign-in.js"></script>
    </body>
</html>