@{
	ViewData["Title"] = "One-Time Payment";
}

<h1>One-Time Payment</h1>

<div class="js-sweetalert">
	<table class="table table-bordered table-striped table-hover js-basic-example dataTable">
		<thead>
			<tr>
				<th>Datum</th>
				<th>Einfahrt</th>
				<th>Ausfahrt</th>
				<th>Dauer</th>
				<th>Betrag</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>23.02.2017</td>
				<td>09:38</td>
				<td>10:52</td>
				<td>01:14</td>
				<td id="a">2,30 €</td>
				<td id="b"><button class="btn btn-info waves-effect" type="button" data-type="success">Jetzt bezahlen</button></td>
			</tr>
		</tbody>
	</table>
</div>

<script>
	function setLogic() {
		// Anpassungen Wizard
		var form = $('#wizard_with_validation').show();
		form.steps({
			headerTag: 'h3',
			bodyTag: 'fieldset',
			transitionEffect: 'fade',
			transitionEffectSpeed: 300,
			labels: {
						previous: "Zurück",
						next: "Weiter",
						finish: "Jetzt bezahlen"
					},
			onInit: function (event, currentIndex) {
				// Größe der Tabs berechnen
				var $tab = $(event.currentTarget).find('ul[role="tablist"] li');
				var tabCount = $tab.length;
				$tab.css('width', (100 / tabCount) + '%');

				// Button "Pressed" Effekt
				setButtonWavesEffect(event);
			},
			onStepChanging: function (event, currentIndex, newIndex) {			

				// Error handling
				if (currentIndex > newIndex) { return true; }

				if (currentIndex < newIndex) {
					form.find('.body:eq(' + newIndex + ') label.error').remove();
					form.find('.body:eq(' + newIndex + ') .error').removeClass('error');
				}

				// 2. Daten eingeben: Kreditkarte oder PayPal
				if (newIndex == 1) {
					if (form.find('input[type=radio]:checked').val() === "paypal") {
						form.find('#paybypaypal').show();
						form.find('#paybycreditcard').hide();
						form.find('#summyry_creditcard').hide();
					}
					//} else {
					//    form.find('#paybypaypal').hide();
					//    form.find('#paybycreditcard').show();
					//    form.find('#payby').text("Kreditkarte (" + form.find('input[type=radio]:checked').parent().next()[0].innerText + ")");
					//}
				}


				// 3. zusammenfassung
				if (newIndex == 2) {
					if (form.find('input[type=radio]:checked').val() === "paypal") {
						form.find('#payby').text("PayPal (" + $("#email").val() + ")");
						form.find("#summary_creditcard").hide();
					} else {
						form.find("#summary_creditcard").show();
						form.find("#summary_cardowner").text($("#cardowner").val());
						form.find("#summary_cardnumber").text($("#cardnumber").val());
					}
				}

				// Eingaben validieren
				form.validate().settings.ignore = ':disabled,:hidden';
				return form.valid();
			},
			onStepChanged: function (event, currentIndex, priorIndex) {
				setButtonWavesEffect(event);
			},
			onFinishing: function (event, currentIndex) {
				form.validate().settings.ignore = ':disabled';
				return form.valid();
			},
			onFinished: function (event, currentIndex) {
				swal.clickConfirm();
				swal({
					title: "Vorgang wird bearbeitet",
					text: "Bitte warten",
					type: "info",
					timer: 3000,
					animation: false,
					customClass: 'animated fadeIn',
					allowEscapeKey: false,
					allowOutsideClick: false,
					showCloseButton: false,
					showCancelButton: false,
					showConfirmButton: false
				}).then(
					  function () { },
					  function () {
						  console.log("AJAX Aufruf --> bezahlt");
					  }
					).then(function () {
						swal({
							title: 'Bezahlvorgang abgeschlossen.',
							text: 'Vielen Dank, dass Sie ScanPark genutzt haben!',
							type: 'success',
							animation: false,
							customClass: 'animated fadeIn',
							confirmButtonClass: "btn btn-info waves-effect",
							allowEscapeKey: false,
							allowOutsideClick: false
						});
					});
			}
		});

		// Validierung
		form.validate({
			highlight: function (input) {
				$(input).parents('.form-line').addClass('error');
			},
			unhighlight: function (input) {
				$(input).parents('.form-line').removeClass('error');
			},
			errorPlacement: function (error, element) {
				$(element).parents('.form-group').append(error);
			},
			rules: {
				'confirm': { equalTo: '#password' },
				'credit-card': { required: true }
			}
		});
	};

	// Sobald auf einen der Bezahl-Buttongs geklickt wird ...
	$(function () {
		$('.js-sweetalert button').on('click', function () {
			// Betrag aus der vorherigen Spalte auslesen und an
			// die Methode übergeben
			showPaymentDialog($(this).parent().prev().html());

			// Formularlogik hinzufügen, Validierung, etc.
			setLogic();
		});
	});

	function setButtonWavesEffect(event) {
		$(event.currentTarget).find('[role="menu"] li a').removeClass('waves-effect');
		$(event.currentTarget).find('[role="menu"] li:not(.disabled) a').addClass('waves-effect');
	}

	function showPaymentDialog(amount) {
		swal({
			allowEscapeKey: false,
			allowOutsideClick: false,
			width: 800,
			animation: false,
			customClass: 'animated fadeIn',
			imageUrl: "../images/cards/cards.png",
			imageWidth: 100,
			imageHeight: 88,
			showCloseButton: true,
			showCancelButton: false,
			showConfirmButton: false,
			title: 'Rechnung bezahlen',
			html:
				'<div class="row clearfix">' +
					'<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">' +
						'<div class="card">' +
							'<div class="body">' +
								'<form id="wizard_with_validation" method="POST">' +
									'<h3>Zahlungsart wählen</h3>' +
									'<fieldset>' +
										'<div class="divTableBody">' +
											'<div class="divTableRow">' +
												'<div class="divTableCellIcon">' +
													'<input id="americanexpress" type="radio" name="credit-card" value="americanexpress"/>' +
													'<label class="creditcard americanexpress" for="americanexpress"></label>' +
												'</div>' +
												'<div class="divTableCellText">American Express</div>' +
											'</div>' +
											'<div class="divTableRow">' +
												'<div class="divTableCellIcon">' +
													'<input id="mastercard" type="radio" name="credit-card" value="mastercard"/>' +
													'<label class="creditcard mastercard" for="mastercard"></label>' +
												'</div>' +
												'<div class="divTableCellText">MasterCard</div>' +
											'</div>' +
											'<div class="divTableRow">' +
												'<div class="divTableCellIcon">' +
													'<input id="paypal" type="radio" name="credit-card" value="paypal"/>' +
													'<label class="creditcard paypal" for="paypal"></label>' +
												'</div>' +
												'<div class="divTableCellText">PayPal</div>' +
											'</div>' +
											'<div class="divTableRow">' +
												'<div class="divTableCellIcon">' +
													'<input id="visa" type="radio" name="credit-card" value="visa"/>' +
													'<label class="creditcard visa" for="visa"></label>' +
												'</div>' +
												'<div class="divTableCellText">Visa</div>' +
											'</div>' +
										'</div>' +
									'</fieldset>' +

									'<h3>Daten eingeben</h3>' +
									'<fieldset>' +
										'<div id="paybycreditcard" style="display: none;">' +
											'<div class="row clearfix">' +
												'<div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label" >' +
													'<label for="cardowner">Karteninhaber</label>' +
												'</div>' +
												'<div class="col-lg-9 col-md-9 col-sm-8 col-xs-7" >' +
													'<div class="form-group">' +
														'<div class="form-line">' +
															'<input type="text" id="cardowner" class="form-control">' +
														'</div>' +
													'</div>' +
												'</div>' +
											'</div>' +
											'<div class="row clearfix">' +
												'<div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label" >' +
													'<label for="cardnumber">Kartennummer</label>' +
												'</div>' +
												'<div class="col-lg-9 col-md-9 col-sm-8 col-xs-7" >' +
													'<div class="form-group">' +
														'<div class="form-line">' +
															'<input type="text" id="cardnumber" class="form-control">' +
														'</div>' +
													'</div>' +
												'</div>' +
											'</div>' +
											'<div class="row clearfix">' +
												'<div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label" >' +
													'<label for="cvc">CVC</label>' +
												'</div>' +
												'<div class="col-lg-3 col-md-3 col-sm-2 col-xs-2" >' +
													'<div class="form-group">' +
														'<div class="form-line">' +
															'<input type="text" id="cvc" class="form-control">' +
														'</div>' +
													'</div>' +
												'</div>' +
												'<div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label" >' +
													'<label for="valid">Gültig bis</label>' +
												'</div>' +
												'<div class="col-lg-3 col-md-3 col-sm-2 col-xs-2" >' +
													'<div class="form-group">' +
														'<div class="form-line">' +
															'<input type="text" id="valid" class="form-control">' +
														'</div>' +
													'</div>' +
												'</div>' +
											'</div>' +
										'</div>' +

										'<div id="paybypaypal" style="display: none;">' +
											'<div class="row clearfix">' +
												'<div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label" >' +
													'<label for="email">PayPal E-Mail Adresse</label>' +
												'</div>' +
												'<div class="col-lg-9 col-md-9 col-sm-8 col-xs-7" >' +
													'<div class="form-group">' +
														'<div class="form-line">' +
															'<input type="email" id="email" class="form-control">' +
														'</div>' +
													'</div>' +
												'</div>' +
											'</div>' +
										'</div>' +

									'</fieldset>' +
									'<h3>Zusammenfassung</h3>' +
									'<fieldset>' +
										'<div class="row clearfix">' +
											'<div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label" >' +
												'<label for="cardnumber">Bezahlung per</label>' +
											'</div>' +
											'<div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">' +
												'<div class="form-group withoutmargin">' +
													'<div class="form-line withoutborder">' +
														'<label id="payby" class="form-control align-left"></label>' +
													'</div>' +
												'</div>' +
											'</div>' +
										'</div>' +

										'<div id="summary_creditcard" style="display: none;">' +
											'<div class="row clearfix">' +
												'<div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label" >' +
													'<label>Karteninhaber</label>' +
												'</div>' +
												'<div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">' +
													'<div class="form-group withoutmargin">' +
														'<div class="form-line withoutborder">' +
															'<label id="summary_cardowner" class="form-control align-left"></label>' +
														'</div>' +
													'</div>' +
												'</div>' +
											'</div>' +
											'<div class="row clearfix">' +
												'<div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label" >' +
													'<label>Kartennummer</label>' +
												'</div>' +
												'<div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">' +
													'<div class="form-group withoutmargin">' +
														'<div class="form-line withoutborder">' +
															'<label id="summary_cardnumber" class="form-control align-left"></label>' +
														'</div>' +
													'</div>' +
												'</div>' +
											'</div>' +
										'</div>' +

										'<div class="row clearfix">' +
											'<div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label" >' +
												'<label for="amount">Betrag</label>' +
											'</div>' +
											'<div class="col-lg-9 col-md-9 col-sm-8 col-xs-7" >' +
												'<div class="form-group withoutmargin">' +
													'<div class="form-line withoutborder" ">' +
														'<label id="amount" class="form-control align-left">' + amount + '</label>' +
													'</div>' +
												'</div>' +
											'</div>' +
										'</div>' +
									'</fieldset>' +
								'</form>' +
							'</div>' +
						'</div>' +
					'</div>' +
				'</div>'
		}).then(function () {
		}, function () {
			swal({
				title: 'Vorgang abgebrochen',
				type: 'error',
				animation: false,
				customClass: 'animated fadeIn',
				confirmButtonClass: "btn btn-info waves-effect",
				allowEscapeKey: false,
				allowOutsideClick: false,
			});
		});
	}
</script>