@{
    ViewData["Title"] = "Fahrzeuge";
}

<div class="sign-container">
    <div id="LK">KA</div>
    <div id="KN">XX</div>
    <div id="ZL">1234</div>
</div>

<script>
    $(document).ready(function () {
        $("#bills").removeClass("active");
        $("#cars").addClass("active");
        $("#locations").removeClass("active");
    });
</script>